*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* board---------------------------------- */

#main{
    height: 1000px;
    width: 1000px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
    border: #000 solid 5px;
}

.box:nth-child(even){
    background: #000;
    border: #ffffff 1px solid;
}

.box:nth-child(odd){
    background: #ffffff;
    border: #000 1px solid;
}

.box{
    width: 100%;
    height: 100%;
}

